# Hackathon: From Raw Data to ML-Ready Dataset
## Insight-Driven EDA and End-to-End Feature Engineering on Airbnb Data Using pandas and Plotly

### What is a Hackathon?

A hackathon is a fast-paced, collaborative event where participants use data and technology to solve a real problem end-to-end.  
In this hackathon, you will work with a **real-world Airbnb dataset** and complete two interconnected goals:

- Produce a **high-quality exploratory data analysis (EDA)** using `pandas` and `plotly`, extracting meaningful insights, trends, and signals from the data.  
- Design and deliver a **clean, feature-rich, ML-ready dataset** that will serve as the foundation for a follow-up hackathon focused on building and evaluating machine learning models.

Your task is to **get the most out of the data**: uncover structure and patterns through EDA, and engineer informative features (numerical, categorical, temporal, textual (TF–IDF), and optionally image-based) to maximize the predictive power of the final dataset.

<div class="alert alert-success">
<b>About the Dataset</b>

<u>Context</u>

The data comes from <a href="https://insideairbnb.com/get-the-data/">Inside Airbnb</a>, an open project that publishes detailed, regularly updated datasets for cities around the world.  
Each city provides three main CSV files:

- <b>listings.csv</b> — property characteristics, host profiles, descriptions, amenities, etc.  
- <b>calendar.csv</b> — daily availability and pricing information for each listing.  
- <b>reviews.csv</b> — guest feedback and textual reviews.

These datasets offer a rich view of the short-term rental market, including availability patterns, pricing behavior, host attributes, and guest sentiment.  

<u>Inspiration</u>

Your ultimate objective is to create a dataset suitable for training a machine learning model that predicts whether a specific Airbnb listing will be <b>available on a given date</b>, using property attributes, review information, and host characteristics.
</div>

<div class="alert alert-info">
<b>Task</b>

Using one city of your choice from Inside Airbnb, create an end-to-end pipeline that:

1. Loads and explores the raw data (EDA).  
2. Engineers features (numerical, categorical, temporal, textual TF–IDF, etc.).  
3. Builds a unified ML-ready dataset.  

Please remember to add comments explaining your decisions. Comments help us understand your thought process and ensure accurate evaluation of your work. This assignment requires code-based solutions—**manually calculated or hard-coded results will not be accepted**. Thoughtful comments and visualizations are encouraged and will be highly valued.

- Write your solution directly in this notebook, modifying it as needed.
- Once completed, submit the notebook in **.ipynb** format via Moodle.
    
<b>Collaboration Requirement: Git & GitHub</b>

You must collaborate with your team using a **shared GitHub repository**.  
Your use of Git is part of the evaluation. We will specifically look at:

- Commit quality (clear messages, meaningful steps).  
- Balanced participation across team members.  
- Use of branches.  
- Ability to resolve merge conflicts appropriately.  
- A clean, readable project history that reflects real collaboration.

Good Git practice is **part of your grade**, not optional.
</div>
<div class="alert alert-danger">
    You are free to add as many cells as you wish as long as you leave untouched the first one.
</div>

<div class="alert alert-warning">

<b>Hints</b>

- Text columns often carry substantial predictive power, use text-vectorization methods to extract meaningful features.  
- Make sure all columns use appropriate data types (categorical, numeric, datetime, boolean). Correct dtypes help prevent subtle bugs and improve performance.  
- Feel free to enrich the dataset with any additional information you consider useful: engineered features, external data, derived temporal features, etc.  
- If the dataset is too large for your computer, use <code>.sample()</code> to work with a subset while preserving the logic of your pipeline.  
- Plotly offers a wide variety of powerful visualizations, experiment creatively, but always begin with a clear analytical question: *What insight am I trying to uncover with this plot?*

</div>




<div class="alert alert-danger">
<b>Submission Deadline:</b> Wednesday, December 3rd, 12:00

Start with a simple, working pipeline.  
Do not over-complicate your code too much. Start with a simple working solution and refine it if you have time.
</div>

<div class="alert alert-danger">
    
You may add as many cells as you want, but the **first cell must remain exactly as provided**. Do not edit, move, or delete it under any circumstances.
</div>

In [ ]:
# LEAVE BLANK

### Team Information

Fill in the information below.  
All fields are **mandatory**.

- **GitHub Repository URL**: Paste the link to the team repo you will use for collaboration.
- **Team Members**: List all student names (and emails or IDs if required).

Do not modify the section title.  
Do not remove this cell.

In [ ]:
# === Team Information (Mandatory) ===
# Fill in the fields below.

GITHUB_REPO = ""       # e.g. "https://github.com/myteam/airbnb-hackathon"
TEAM_MEMBERS = [
    # "Full Name 1",
    # "Full Name 2",
    # "Full Name 3",
]

GITHUB_REPO, TEAM_MEMBERS

In [7]:
import pandas as pd

def load_data():
    listings_df = pd.read_csv("/Users/sharathraveendran/Downloads/Hackathon_Python/listings.csv")
    calendars_df = pd.read_csv("/Users/sharathraveendran/Downloads/Hackathon_Python/calendar.csv")
    reviews_df = pd.read_csv("/Users/sharathraveendran/Downloads/Hackathon_Python/reviews.csv")

    return listings_df, calendars_df, reviews_df

In [8]:
listings_df, calendars_df, reviews_df = load_data()

In [9]:
listings_df.head()

,id,listing_url,scrape_id,last_scraped,source,name,description,neighborhood_overview,picture_url,host_id,...,review_scores_communication,review_scores_location,review_scores_value,license,instant_bookable,calculated_host_listings_count,calculated_host_listings_count_entire_homes,calculated_host_listings_count_private_rooms,calculated_host_listings_count_shared_rooms,reviews_per_month
0,18674,https://www.airbnb.com/rooms/18674,20250914152803,2025-09-15,city scrape,Huge flat for 8 people close to Sagrada Familia,110m2 apartment to rent in Barcelona. Located ...,Apartment in Barcelona located in the heart of...,https://a0.muscache.com/pictures/13031453/413c...,71615,...,4.62,4.82,4.32,ESFCTU000008058000039706000000000000000HUTB-00...,t,26,26,0,0,0.34
1,23197,https://www.airbnb.com/rooms/23197,20250914152803,2025-09-14,city scrape,"Forum CCIB DeLuxe, Spacious, Large Balcony, relax",Beautiful and Spacious Apartment with Large Te...,"Strategically located in the Parc del Fòrum, a...",https://a0.muscache.com/pictures/miso/Hosting-...,90417,...,4.99,4.66,4.68,ESFCTU000008106000547162000000000000000000HUTB...,f,1,1,0,0,0.52
2,32711,https://www.airbnb.com/rooms/32711,20250914152803,2025-09-15,city scrape,Sagrada Familia area - Còrsega 1,A lovely two bedroom apartment only 250 m from...,What's nearby <br />This apartment is located...,https://a0.muscache.com/pictures/357b25e4-f414...,135703,...,4.89,4.89,4.47,HUTB-001722,f,2,2,0,0,0.88
3,34241,https://www.airbnb.com/rooms/34241,20250914152803,2025-09-15,city scrape,Stylish Top Floor Apartment - Ramblas Plaza Real,Located in close proximity to Plaza Real and L...,NaN,https://a0.muscache.com/pictures/2437facc-2fe7...,73163,...,4.68,4.73,4.23,Exempt,f,3,3,0,0,0.14
4,34981,https://www.airbnb.com/rooms/34981,20250914152803,2025-09-15,city scrape,VIDRE HOME PLAZA REAL on LAS RAMBLAS,Spacious apartment for large families or group...,"Located in Ciutat Vella in the Gothic Quarter,...",https://a0.muscache.com/pictures/c4d1723c-e479...,73163,...,4.72,4.65,4.46,ESFCTU000008119000093652000000000000000HUTB-00...,f,3,3,0,0,1.49

In [12]:
calendars_df

,listing_id,date,available,price,adjusted_price,minimum_nights,maximum_nights
0,18674,2025-09-15,f,NaN,NaN,3,999
1,18674,2025-09-16,t,NaN,NaN,2,999
2,18674,2025-09-17,t,NaN,NaN,2,999
3,18674,2025-09-18,t,NaN,NaN,2,999
4,18674,2025-09-19,f,NaN,NaN,3,999
...,...,...,...,...,...,...,...
7084649,703978,2026-09-10,f,NaN,NaN,3,29
7084650,703978,2026-09-11,f,NaN,NaN,3,29
7084651,703978,2026-09-12,f,NaN,NaN,3,29
7084652,703978,2026-09-13,f,NaN,NaN,3,29
7084653,703978,2026-09-14,f,NaN,NaN,3,29

In [11]:
reviews_df.head()

,listing_id,id,date,reviewer_id,reviewer_name,comments
0,703984,415003002495917725,2021-07-26,324403082,Gabriela,"Excelente lugar y buena ubicación, repetiría e..."
1,703984,422225979748637708,2021-08-05,208472604,Abdoulaye,Very good host and always ready to help
2,703984,428711187547685597,2021-08-14,75793287,Nikos,Excellent place to stay and great location. Re...
3,703984,435298891748897953,2021-08-23,207073569,Berta,"Easy and quick communication with the host, gr..."
4,703984,438894164765136324,2021-08-28,391402125,Ahmad,Beautiful apartment in a very great neighbourh...

In [13]:
calendars_df.columns

Index(['listing_id', 'date', 'available', 'price', 'adjusted_price',
       'minimum_nights', 'maximum_nights'],
      dtype='object')

In [14]:
listings_df.columns

Index(['id', 'listing_url', 'scrape_id', 'last_scraped', 'source', 'name',
       'description', 'neighborhood_overview', 'picture_url', 'host_id',
       'host_url', 'host_name', 'host_since', 'host_location', 'host_about',
       'host_response_time', 'host_response_rate', 'host_acceptance_rate',
       'host_is_superhost', 'host_thumbnail_url', 'host_picture_url',
       'host_neighbourhood', 'host_listings_count',
       'host_total_listings_count', 'host_verifications',
       'host_has_profile_pic', 'host_identity_verified', 'neighbourhood',
       'neighbourhood_cleansed', 'neighbourhood_group_cleansed', 'latitude',
       'longitude', 'property_type', 'room_type', 'accommodates', 'bathrooms',
       'bathrooms_text', 'bedrooms', 'beds', 'amenities', 'price',
       'minimum_nights', 'maximum_nights', 'minimum_minimum_nights',
       'maximum_minimum_nights', 'minimum_maximum_nights',
       'maximum_maximum_nights', 'minimum_nights_avg_ntm',
       'maximum_nights_avg_ntm', 'calendar_updated', 'has_availability',
       'availability_30', 'availability_60', 'availability_90',
       'availability_365', 'calendar_last_scraped', 'number_of_reviews',
       'number_of_reviews_ltm', 'number_of_reviews_l30d', 'availability_eoy',
       'number_of_reviews_ly', 'estimated_occupancy_l365d',
       'estimated_revenue_l365d', 'first_review', 'last_review',
       'review_scores_rating', 'review_scores_accuracy',
       'review_scores_cleanliness', 'review_scores_checkin',
       'review_scores_communication', 'review_scores_location',
       'review_scores_value', 'license', 'instant_bookable',
       'calculated_host_listings_count',
       'calculated_host_listings_count_entire_homes',
       'calculated_host_listings_count_private_rooms',
       'calculated_host_listings_count_shared_rooms', 'reviews_per_month'],
      dtype='object')

In [15]:
reviews_df.columns

Index(['listing_id', 'id', 'date', 'reviewer_id', 'reviewer_name', 'comments'], dtype='object')

In [ ]:
def preprocess_calendar(df):
    df['date'] = pd.to_datetime(df['date'])
    df['available'] = df['available'].map({'t': 1, 'f': 0})
    return df

def engineer_calendar_features(df_cal):

    df_cal = df_cal.sort_values(['listing_id', 'date'])

    calendar_features = df_cal.groupby('listing_id').agg(
        occupancy_rate_365=('available', lambda x: 1 - x.mean()), # If available=1, occupied=0
        busy_days_count=('available', lambda x: (x==0).sum())
    ).reset_index()

    return calendar_features

In [ ]:
from sklearn.feature_extraction.text import TfidfVectorizer
from textblob import TextBlob

def engineer_text_features(df_1, df_2):

    # --- Part A: Polarity feature ---
    if df_1 is not None and not df_1.empty:

        df_1['aa'] = df_1['aa'].astype(str).fillna('')
        df_1['polarity'] = df_1['aa'].apply(lambda x: TextBlob(x).sentiment.polarity)

    # --- Part B: TF-IDF ---
    tfidf = TfidfVectorizer(max_features=50, stop_words='english')
    txt_data = df_2['description'].fillna('')

    tfidf_matrix = tfidf.fit_transform(txt_data)

    feature_names = [f'tfidf_{i}' for i in range(tfidf_matrix.shape[1])]
    tfidf_df = pd.DataFrame(tfidf_matrix.toarray(), columns=feature_names)

    df_combined = pd.concat([df_2.reset_index(drop=True), tfidf_df], axis=1)

    return df_combined

In [16]:
calendars_df.head()

,listing_id,date,available,price,adjusted_price,minimum_nights,maximum_nights
0,18674,2025-09-15,f,NaN,NaN,3,999
1,18674,2025-09-16,t,NaN,NaN,2,999
2,18674,2025-09-17,t,NaN,NaN,2,999
3,18674,2025-09-18,t,NaN,NaN,2,999
4,18674,2025-09-19,f,NaN,NaN,3,999

In [31]:
import pandas as pd
import numpy as np

class CalendarFeatureEngineer:

    def __init__(self, calendar_df):
        self.df = calendar_df.copy()

    # ------------------------------------------------------------
    # 1. Convert date column to datetime
    # ------------------------------------------------------------
    def convert_date(self):
        self.df["date"] = pd.to_datetime(self.df["date"], errors="coerce")
        return self.df

    # ------------------------------------------------------------
    # 2. Map availability t/f → 1/0
    # ------------------------------------------------------------
    def map_availability(self):
        self.df["availability_num"] = self.df["available"].map({"t": 1, "f": 0})
        return self.df

    # ------------------------------------------------------------
    # 3. Add occupancy = 1 - availability_num
    # ------------------------------------------------------------
    def add_occupancy(self):
        self.df["occupancy"] = 1 - self.df["availability_num"]
        return self.df

    # ------------------------------------------------------------
    # 4. Extract year-month
    # ------------------------------------------------------------
    def extract_year_month(self):
        self.df["year_month"] = self.df["date"].dt.to_period("M")
        return self.df

    # ------------------------------------------------------------
    # 5. Compute monthly occupancy rate
    # ------------------------------------------------------------
    def compute_monthly_rate(self):
        monthly = (
            self.df.groupby(["listing_id", "year_month"])["occupancy"]
                .mean()
                .rename("monthly_occupancy_rate")
                .reset_index()
        )
        return monthly

    # ------------------------------------------------------------
    # 6. Build target dataframe:
    # listing_id, date, monthly_occupancy_rate, price, adjusted_price, min/max nights
    # ------------------------------------------------------------
    def create_target_df(self, monthly):
        # merge monthly occupancy back onto each daily row
        df_target = self.df.merge(
            monthly,
            on=["listing_id", "year_month"],
            how="left"
        )

        # select exactly the columns you specified
        df_target = df_target[[
            "listing_id",
            "date",
            "monthly_occupancy_rate",
            "price",
            "adjusted_price",
            "minimum_nights",
            "maximum_nights"
        ]]

        return df_target

    # ------------------------------------------------------------
    # 7. FULL PIPELINE
    # Returns:
    #   updated_calendar_df (with new columns)
    #   target_df (exact format requested)
    # ------------------------------------------------------------
    def build_features_and_target(self):
        self.convert_date()
        self.map_availability()
        self.add_occupancy()
        self.extract_year_month()

        monthly = self.compute_monthly_rate()
        target_df = self.create_target_df(monthly)

        return self.df, target_df

In [28]:
import pandas as pd
import numpy as np

from sklearn.feature_extraction.text import TfidfVectorizer
from textblob import TextBlob


class ReviewFeatureEngineer:

    def __init__(self, reviews_df):
        self.df = reviews_df.copy()
        self.tfidf_vectorizer = None
        self.tfidf_features = None

    # ------------------------------------------------------------
    # 1. Convert date column to datetime
    # ------------------------------------------------------------
    def convert_date(self):
        self.df['date'] = pd.to_datetime(self.df['date'], errors='coerce')
        return self.df

    # ------------------------------------------------------------
    # 2. Sentiment analysis using TextBlob
    # ------------------------------------------------------------
    def sentiment_score(self):
        def compute_sentiment(text):
            if pd.isna(text):
                return 0
            return TextBlob(text).sentiment.polarity

        self.df['sentiment_score'] = self.df['comments'].astype(str).apply(compute_sentiment)
        return self.df

    # ------------------------------------------------------------
    # 3. TF-IDF vectorization of comments
    # ------------------------------------------------------------
    def tfidf_transform(self, max_features=100):
        """
        Creates common TF-IDF features across all reviews.
        max_features=100 is a safe choice for hackathons.
        """
        comments = self.df['comments'].astype(str)

        self.tfidf_vectorizer = TfidfVectorizer(
            max_features=max_features,
            stop_words='english'
        )

        tfidf_matrix = self.tfidf_vectorizer.fit_transform(comments)
        tfidf_df = pd.DataFrame(
            tfidf_matrix.toarray(),
            columns=[f"tfidf_{f}" for f in self.tfidf_vectorizer.get_feature_names_out()],
            index=self.df.index
        )

        self.tfidf_features = tfidf_df

        # Add to main df
        self.df = pd.concat([self.df, tfidf_df], axis=1)

        return self.df

    # ------------------------------------------------------------
    # 4. Aggregate review-level features to listing_id
    # ------------------------------------------------------------
    def aggregate_by_listing(self):
        """
        TF-IDF features are averaged per listing_id.
        Sentiment is averaged as well.
        """

        # numeric columns only (exclude reviewer name)
        agg_df = self.df.drop(columns=['comments', 'reviewer_name', 'id', 'reviewer_id'], errors='ignore')

        aggregated = agg_df.groupby('listing_id').mean()

        return aggregated

    # ------------------------------------------------------------
    # 5. COMPLETE PIPELINE
    # ------------------------------------------------------------
    def build_features(self, max_features=100):
        self.convert_date()
        self.sentiment_score()
        self.tfidf_transform(max_features=max_features)
        return self.aggregate_by_listing()

In [34]:
calendars_df = CalendarFeatureEngineer(calendars_df).build_features_and_target()

KeyError: 'date'

In [24]:
reviews_df = ReviewFeatureEngineer(reviews_df).build_features()

In [32]:
calendars_df.head()

            avg_monthly_occupancy
listing_id
18674                    0.780976
23197                    0.260413
32711                    0.818269
34241                    0.082595
34981                    0.107010

In [26]:
engineer_reviews_features.head()

,date,sentiment_score,tfidf_10,tfidf_airbnb,tfidf_amazing,tfidf_apartamento,tfidf_apartment,tfidf_appartement,tfidf_area,tfidf_away,...,tfidf_thank,tfidf_time,tfidf_todo,tfidf_très,tfidf_una,tfidf_und,tfidf_walk,tfidf_walking,tfidf_war,tfidf_wonderful
listing_id,,,,,,,,,,,,,,,,,,,,,
18674,2021-07-15 08:28:14.117647104,0.276969,0.000000,0.011678,0.042138,0.028766,0.097603,0.043231,0.000000,0.010928,...,0.000000,0.049180,0.030332,0.035585,0.005661,0.000000,0.000000,0.016208,0.000000,0.008848
23197,2020-06-20 10:48:47.472527360,0.295383,0.044535,0.015807,0.005010,0.032560,0.142158,0.022183,0.037367,0.026339,...,0.032118,0.025266,0.011993,0.009532,0.009728,0.007656,0.055243,0.015875,0.000000,0.038163
32711,2021-04-13 13:25:15.789473792,0.264037,0.001218,0.017921,0.013982,0.007549,0.046864,0.032695,0.007349,0.009168,...,0.016169,0.011809,0.027318,0.055335,0.016661,0.007648,0.002603,0.010398,0.009151,0.010072
34241,2020-06-06 16:19:12.000000000,0.234940,0.016765,0.022193,0.042125,0.000000,0.133726,0.025579,0.031107,0.009610,...,0.013845,0.009523,0.000000,0.000000,0.000000,0.000000,0.014891,0.000000,0.000000,0.055521
34981,2019-11-22 21:36:31.881918720,0.343985,0.010655,0.011595,0.040807,0.003672,0.110908,0.026415,0.029607,0.011316,...,0.017469,0.031349,0.012920,0.012621,0.005246,0.001410,0.018139,0.015481,0.000000,0.006907